<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Oren Kravetz" />
    <meta
      name="description"
      content="Siddur Project"
    />
    <meta
      name="og:description"
      content="Siddur Project"
    />
    <meta
      name="og:title"
      content="Siddur Project"
    />
    <meta
      name="twitter:title"
      content="Siddur Project"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ "/assets/js/main.js" | relative_url}}"></script>
   <!--  <link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" | relative_url }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}"> -->

    <!-- the below three lines are a fix to get HTML5 semantic elements working in old versions of Internet Explorer-->
    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>
  <body>
    <header><!-- {%- include navigation.html -%} --></header>
    <main>{{ content }}</main >
    <footer><!-- {%- include footer.html -%} --></footer>
  </body>
</html>
